<div class="row">
    <div class="col-xs-12">
        <h3>Review your answers!!</h3>
        <p *ngFor="let question of questions; let i=index">
            <b>{{'Question ' + (i+1) + '. ' }}</b> {{ question.question }} <br>
            <b>{{'Selected Answer: ' }}</b> {{ (question.options | arrayFind : question.selectedAnswer)}}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success spacing" (click)="submitAnswer()">Submit</button>
    </div>
</div>
<br>
<hr>
<app-question-set></app-question-set>

